:root {
  font-family:  system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #000;
  --dark-blue: #21759F;
  --yellow: #FFAB5E;
  --light-blue: #008DD2;
  --extra: #25405E;
}
